<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Display</title>
</head>
<body bgcolor="yellow">
    <a href="/Product/home">Home</a> |
    <a href="/Product/about">About</a> |
    <a href="/Product/insert">Insert</a> |
    <a href="/Product/display">Display</a> |

    <h1 align="center">Display Page</h1>

    <table border="1" width="800px" align="center">
        <tr>
            <th>Rollno</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Fees</th>
        </tr>

        {{#each mydata }}
            <tr>
                <td>{{this.rollno }}</td>
                <td>{{this.name }}</td>
                <td>{{this.email }}</td>
                <td>{{this.city }}</td>
                <td>{{this.fees }}</td>
            </tr>
        {{/each }}
    </table>
 
</body>
</html>
